{
  "log": {
    "_recordingName": "test check_pkgs/checkPkgs fails if one check fails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "a85a9a04aaacdf8490f641a1a97580ec",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/mrosier/d90a42b1babf33d430450e05cbd3dc1edc6b7135dafa/hlx--static/_status_check/healthcheck.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 101,
            "text": "{\n  \"code\": \"BCPydpSd8VnalGj2EdXosIhF1507Tnmk\",\n  \"error\": \"The requested resource does not exist.\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 404,
          "statusText": "Not Found"
        },
        "time": 404,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
