{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "2.6.0"
    },
    "entries": [
      {
        "_id": "0f569fe25b81e012e105404f7f3f1dfa",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/dictionary/strain_github_static_root"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 226,
            "text": "{\"version\":247,\"write_only\":true,\"service_id\":\"54nWWFJicKgbdVHou26Y6a\",\"id\":\"1C7mznzU9PHL2isc4Qah6L\",\"created_at\":\"2018-09-09T20:27:25Z\",\"deleted_at\":null,\"updated_at\":\"2019-07-18T05:36:20Z\",\"name\":\"strain_github_static_root\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1002,
      },
      {
        "_id": "965116eed34cea6c304ec8fa9b1662b7",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/dictionary/strain_github_static_repos"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 227,
            "text": "{\"version\":247,\"updated_at\":\"2019-07-1[...]
