{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.2.1"
    },
    "entries": [
      {
        "_id": "b05235f2dcff6fe6846b1ee2d6212a00",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/dictionary/strain_refs"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 212,
            "text": "{\"write_only\":true,\"id\":\"6tS8lvtRx0hWi7PATiYTlg\",\"version\":247,\"deleted_at\":null,\"name\":\"strain_refs\",\"service_id\":\"54nWWFJicKgbdVHou26Y6a\",\"updated_at\":\"2019-07-18T05:36:20Z\",\"created_at\":\"2018-07-19T16:00:40Z\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 902,
      },
      {
        "_id": "357c2023ea8e0569ddd980e23a9b2723",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/dictionary/secrets"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 208,
            "text": "{\"write_only\":true,\"name\":\"secrets\",\"deleted_at\":null,\[...]
