{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "d45d69c22679e7f6ab95695ad2a811fa",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/316/vcl"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "[\"1f8b08004153c75f0003aa56ca2d4e57b25272292dc8c94c4e2c4955284a4dce2f4a51d2514a492d49cccc41912b4bceb152504fa9cc4bcccd4cd603f2d4956a01000000ffff030080457cbe42000000\"]"
          },
          "headers": [
            {
              "name": "status",
              "value": "409 Conflict"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "fastly-ratelimit-remaining",
              "value": "950"
            },
            {
              "name": "fastly-ratelimit-reset",
              "value": "1606899600"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 334,
      },
      {
        "_id": "45a1a69d5256a10036c81814b298d80b",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "PUT",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/316/vcl/dynamic.vcl"
        },
        "response": {
          "content": {
            "mimeType": "applic[...]
