{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "3.0.0"
    },
    "entries": [
      {
        "_id": "62e9d1e1e2b8f510fe69c68320f96156",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/vcl"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 69,
            "text": "{\"msg\":\"Duplicate record\",\"detail\":\"Duplicate vcl: 'extensions.vcl'\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "409 Conflict"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "fastly-ratelimit-remaining",
              "value": "998"
            },
            {
              "name": "fastly-ratelimit-reset",
              "value": "1578938400"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 480,
      },
      {
        "_id": "954e56cc31ceb72f7db8fbd5dcca7805",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/backend"
        },
        "response": {
          "content": {
            "mimeType": "application/j[...]
