{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.0"
    },
    "entries": [
      {
        "_id": "de15925020b3a1b47ff757bd743e62a4",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/dictionary/strain_owners"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 214,
            "text": "{\"id\":\"6tlvGa6erOOoBYRvJT7hS9\",\"service_id\":\"54nWWFJicKgbdVHou26Y6a\",\"name\":\"strain_owners\",\"deleted_at\":null,\"updated_at\":\"2019-07-18T05:36:20Z\",\"version\":247,\"created_at\":\"2018-07-19T16:00:41Z\",\"write_only\":true}"
          },
          "headers": [
            {
              "name": "status",
              "value": "200 OK"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 496,
      },
      {
        "_id": "62e9d1e1e2b8f510fe69c68320f96156",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/vcl"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 64,
            "text": "{\"msg\":\"Duplicate record\",\"detail\":\"Duplicate vcl: 'reset.vcl'\"}"
          },
          "headers": [
            {
              "name": "status",
              "value": "409 Conflict"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "fastly-ratelimit-remaining",
              "value": "938"
            },
            {
              "name": "fastly-ratelimit-reset",
              "value": "1579615200"
            }
 [...]
