{
  "log": {
    "_recordingName": "Integration Test/Test publish function locally",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "cb963f61d0853de3240dfaa88fbba7c7",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/backend"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 164,
            "text": "[\"1f8b0800e351165f0003aa56ca2d4e57b25272292dc8c94c4e2c4955284a4dce2f4a51d2514a492d49cccc41914b4a4cce4ecd4bb1525077cf2cf1284d5257aa05000000ffff0300a5bbfd0f41000000\"]"
          },
          "headers": [
            {
              "name": "status",
              "value": "409 Conflict"
            },
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "fastly-ratelimit-remaining",
              "value": "960"
            },
            {
              "name": "fastly-ratelimit-reset",
              "value": "1595300400"
            }
          ],
          "status": 409,
          "statusText": "Conflict"
        },
        "time": 397,
      },
      {
        "_id": "b3becd2ed328987dce9aef7089e8b7cf",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.fastly.com/service/54nWWFJicKgbdVHou26Y6a/version/247/logging/https/helix-epsagon"
        },
        "response": {
          "content": {
            "mimeTy[...]
