{
  "log": {
    "_recordingName": "test check_pkgs/checkPkgs fails if package list missing action",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "5a0e75a01888a00d12f0221858dbd687",
        "request": {
          "headers": [
            {
              "name": "authorization",
              "value": "Basic ZmFrZV9hdXRo"
            },
            {
              "name": "x-namespace-id",
              "value": "fake_ns"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/namespaces/fake_ns/packages"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4950,
            "text": "[{\"annotations\":[{\"key\":\"binding\",\"value\":{\"name\":\"helix-services\",\"namespace\":\"helix\"}}],\"binding\":{\"name\":\"helix-services\",\"namespace\":\"helix\"},\"name\":\"helix-services\",\"namespace\":\"mrosier\",\"publish\":false,\"updated\":1581017657189,\"version\":\"0.0.28\"}]"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1138,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
