{
  "log": {
    "_recordingName": "test check_pkgs/checkPkgs fails if openwhisk fails",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "e3cf897e4e6e6272dbdfad8e985a371c",
        "request": {
          "headers": [
            {
              "name": "x-namespace-id",
              "value": "mrosier"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/namespaces/mrosier/packages"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 92,
            "text": "{\"code\":\"EMWZgF4HRTB34zAbxT1d9Dx0AXXxiNXO\",\"error\":\"The supplied authentication is invalid\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "www-authenticate",
              "value": "Basic realm=\"OpenWhisk secure realm\",charset=UTF-8"
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 343,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
