{
  "log": {
    "_recordingName": "Integration Test/Test publish function with invalid version",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "f47f8623d6fb50309450bef73d15eddd",
        "request": {
          "headers": [
            {
              "name": "x-namespace-id",
              "value": "mrosier"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/namespaces/mrosier/packages"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 4950,
            "text": "[{\"annotations\":[{\"key\":\"binding\",\"value\":{\"name\":\"helix-services\",\"namespace\":\"helix\"}}],\"binding\":{\"name\":\"helix-services\",\"namespace\":\"helix\"},\"name\":\"75f29aa936bfc2b84bde5ac0ee4afbf824b1391e-dirty\",\"namespace\":\"mrosier\",\"publish\":false,\"updated\":1581017657189,\"version\":\"0.0.28\"}]"          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 451,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
