{
  "log": {
    "_recordingName": "Integration Test/Test publish function with invalid version",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "2b7fc60ccbff6073f8def37bff8f66da",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/fake/9d723ce487448cc132cd240a484b65772b201241/hlx--static/_status_check/healthcheck.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 155,
            "text": "{\n  \"github\": 11,\n  \"process\": {\n    \"activation\": \"30a327955f864516a327955f86e51617\"\n  },\n  \"response_time\": 12,\n  \"status\": \"OK\",\n  \"version\": \"1.11.4\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1588234219.495"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "414e33858dc1478a8e33858dc1978a4c"
            },
            {
              "name": "x-version",
              "value": "1.11.4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 403,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
