{
  "log": {
    "_recordingName": "test check_pkgs/checkPkgs works successfully",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "4.1.0"
    },
    "entries": [
      {
        "_id": "98e635e2a5cdb300dc4ad806d6aa7263",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/mrosier/d90a42b1babf33d430450e05cbd3dc1edc6b7135/hlx--static/_status_check/healthcheck.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 155,
            "text": "{\n  \"github\": 42,\n  \"process\": {\n    \"activation\": \"0c838e70589e4235838e70589e2235c7\"\n  },\n  \"response_time\": 59,\n  \"status\": \"OK\",\n  \"version\": \"1.11.4\"\n}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "perf-br-resp-out",
              "value": "1588234146.123"
            },
            {
              "name": "x-gw-cache",
              "value": "MISS"
            },
            {
              "name": "x-openwhisk-activation-id",
              "value": "383d14e144a84379bd14e144a873797a"
            },
            {
              "name": "x-version",
              "value": "1.11.4"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1344,
      },
      {
        "_id": "1831096c4bac363973e3b9f4caa72a2d",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://adobeioruntime.net/api/v1/web/mrosier/c4763cd3420bf015454e2e1f2ce2ecd1dd1ca942/hlx--static/_status_check/healthcheck.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 155,
            "text": "{\n  \"github\": [...]
